/* Estilos gerais */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #ffffff;
}

header {
    background-color: #333333;
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.titulo {
    display: inline-block;
}

.sorriso {
    color: #FFB300;
}

nav {
    display: flex;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: rgba(255, 255, 255, 0.568);
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s;
}

nav a:hover {
    transform: scale(1.05);
    color: #ffffff;
}

header .btn-contato button{
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    background-color:#00ff08b6;
    color: #ffffffcb;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 8px rgba(0, 128, 0, 0.849);

}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

section {
    padding: 20px;
    margin: 10px 0;
    background-color: 262626;
    color: #f2f2f2;
    border: 1px solid #444444;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

.foto-dentista {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    float: right;
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.315);
}

.servicos-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background-color: #333333; /* Fundo do card em cinza escuro */
    border: 1px solid #555555; /* Borda do card em cinza */
    color: #f2f2f2;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    flex: 1 1 calc(45% - 20px);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.comentario {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-style: italic;
    text-align: center;
}

.comentario img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.estrelas {
    font-size: 18px;
    color: #FFD700;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input,
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #555555;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #666666;
}

.mapa {
    margin-top: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */
    padding: 22px 80px;
    background-color: #333333;
}

footer p {
    margin-bottom: 16px;
    max-width: 350px;
    font-size: 15px;
}

footer p a {
    color: #ffffff;
    text-decoration: none;
}

.redes-sociais {
    display: flex;
    justify-content: end;
    align-items: center;
    /* gap: 100px; */
}

#copyright {
    background-color: #333333;
    color: #FFFFFF;
    padding: 16px;
    text-align: center;
}

#copyright a {
    color: black;
    text-decoration: none;
}

#copyright a:hover {
    color: Gray;
    transform: scale(1.05);
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsividade geral */

@media (max-width: 1024px) {
    .header-container {
        padding: 0 20px;
        flex-direction: column;
        align-items: center;
    }
    
    .servicos-container {
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        flex: 1 1 100%;
    }

    /* Ajustes para o footer em telas médias */
    footer {
        flex-direction: column;
        align-items: center;
        padding: 20px 40px;
    }
    
    footer .titulo {
        margin-bottom: 20px;
    }
    
    .redes-sociais {
        justify-content: center;
    }
}

@media (max-width: 767px) {
    /* Configuração para tablets e celulares */
    .header-container {
        padding: 0 15px;
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    
    .card {
        padding: 15px;
    }

    /* Ajuste no footer para tela média e pequena */
    footer {
        text-align: center;
        padding: 20px;
    }
    
    .redes-sociais {
        gap: 10px;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    /* Layout para dispositivos móveis */
    .titulo {
        font-size: 20px;
    }
    
    header {
        padding: 10px;
    }
    
    .container {
        width: 100%;
        padding: 10px;
    }
    
    .servicos-container {
        flex-direction: column;
    }

    /* Ajustes para o footer em telas pequenas */
    footer {
        flex-direction: column;
        padding: 20px 15px;
        text-align: center;
    }
    
    .redes-sociais {
        flex-direction: row;
        gap: 8px;
    }
}
